.titulos, .propiedades-container .div_propiedades .cards_propiedades h4 {
  font-weight: bold;
  text-align: center;
  color: black;
  border-bottom: 1px solid black; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Montserrat", sans-serif; }

i:hover {
  color: #050505; }

.whatsapp {
  font-size: 1.9em;
  width: 45px;
  height: 43px;
  background: #1adb1a;
  position: fixed;
  z-index: 100;
  bottom: 35px;
  right: 30px;
  box-shadow: black;
  color: #ffffff;
  text-align: center;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px; }
  .whatsapp i:hover {
    color: #ffffff; }
  .whatsapp a:hover {
    color: #ffffff; }

header {
  grid-area: header;
  background-color: #ad2831;
  position: sticky;
  top: 0px;
  z-index: 10;
  font-size: 0.8em; }
  header .nav-link:hover {
    border-bottom: 1px solid #050505;
    font-size: 1.1em; }

.firstSection {
  background-image: url(../images/img-section.jpeg);
  opacity: 0.8;
  background-size: cover;
  background-color: #d6d6d6;
  height: 180px;
  font-weight: bold;
  color: black; }
  .firstSection .form-firstSection {
    font-size: 0.9em; }
    .firstSection .form-firstSection .boton-buscar {
      width: 120px;
      color: #ad2831;
      background-color: #f4f4f4;
      border-radius: 50px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      -ms-border-radius: 50px;
      -o-border-radius: 50px; }

.secondSection {
  background-color: #f4f4f4;
  height: 120px; }
  .secondSection .text-secondSection {
    font-size: 1em;
    line-height: 25px;
    color: black;
    padding: 20px; }
  .secondSection .link-secondSection a {
    color: royalblue; }
    .secondSection .link-secondSection a:hover {
      color: #050505; }

.destacadas h2 {
  font-size: 1.1em;
  margin-left: 20px;
  margin-top: 20px; }

.destacadas .img_destacadas {
  display: flex;
  flex-direction: row;
  justify-content: center; }

.destacadas img {
  height: 300px;
  padding: 20px;
  filter: grayscale(1);
  -webkit-filter: grayscale(1); }
  .destacadas img:hover {
    filter: grayscale(0);
    -webkit-filter: grayscale(0);
    animation: zoom 2s ease-out;
    -webkit-animation: zoom 2s ease-out;
    cursor: pointer; }

@keyframes zoom {
  0% {
    transform: scale(0.5);
    -webkit-transform: scale(0.5);
    -moz-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5); }
  25% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); } }

.informacion {
  margin-bottom: 124px;
  margin-top: 100px; }
  .informacion .form-consultas {
    background-color: #e6e6e6;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 290px;
    height: 410px;
    padding: 20px 30px; }
    .informacion .form-consultas div {
      padding: 2px; }
    .informacion .form-consultas h3 {
      font-size: 1.1em;
      text-align: center;
      border-bottom: 2px solid #78788c; }
    .informacion .form-consultas input, .informacion .form-consultas textarea {
      width: 100%;
      background: none;
      border: 1px solid #78788c; }
    .informacion .form-consultas textarea {
      height: 100px; }

footer ul > * {
  color: #ffffff;
  text-decoration: none; }

footer {
  grid-area: footer; }
  footer .footer-container {
    height: 100%; }
  footer div {
    background-color: #ad2831; }
  footer .footer-firstClass {
    width: 200px;
    margin-left: 70px;
    padding: 28px; }
    footer .footer-firstClass i:hover {
      color: #050505; }
  footer img {
    height: 75%;
    width: 60%; }
  footer .footer-redes i {
    font-size: 1.2em;
    margin-left: 8px; }
  footer .footer-navbar {
    gap: 12px;
    margin-top: 28px;
    font-size: 0.8em; }
    footer .footer-navbar a:hover {
      color: #050505; }
  footer .contacto {
    font-size: 1.2em;
    width: 200px;
    gap: 28px;
    margin-right: 130px; }
    footer .contacto a:hover {
      color: #050505; }
  footer .copyright {
    font-size: 0.9em;
    background-color: #4e4e4e;
    text-align: center; }

.facebook {
  color: #0505ff; }

.instagram {
  color: #fb3a0e; }

.twitter {
  color: #1b94f6; }

.telegram {
  color: #0f0140; }

.propiedades-container {
  gap: 30px;
  margin: 80px 60px 60px 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .propiedades-container .div_propiedades {
    background-color: #4444443e;
    width: 90%;
    height: 25%;
    box-shadow: 0 0 10px #78788c;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .propiedades-container .div_propiedades img {
      width: 25%; }
    .propiedades-container .div_propiedades .cards_propiedades {
      padding: 20px 25px 20px 15px; }
      .propiedades-container .div_propiedades .cards_propiedades h4 {
        font-size: 1.2em; }
    .propiedades-container .div_propiedades .propiedadFav {
      font-size: 1.5em;
      position: relative;
      right: 10px;
      top: 120px;
      animation-duration: 2s;
      animation-name: agrandar;
      animation-iteration-count: infinite;
      animation-delay: 2s; }
      .propiedades-container .div_propiedades .propiedadFav i:hover {
        color: red; }

@keyframes agrandar {
  0% {
    font-size: 1.5em; }
  25% {
    font-size: 1.6em; }
  50% {
    font-size: 1.7em;
    color: rgba(255, 0, 0, 0.642); }
  75% {
    font-size: 1.8em; } }

.aboutUs {
  text-align: justify;
  line-height: 38px;
  background-color: #dbdad9ca;
  box-shadow: 0 0 20px 2px #dbdad9ca;
  width: 950px;
  margin: 50px 150px;
  padding: 25px; }
  .aboutUs h1 {
    font-size: 1.5em; }
  .aboutUs h4 {
    font-size: 1.2em; }

.informacion {
  margin-bottom: 124px;
  margin-top: 100px; }
  .informacion .info-sucursal {
    margin-left: 40px;
    font-size: 0.9em;
    line-height: 35px;
    text-align: justify;
    width: 330px;
    background-color: #ad2831cc;
    background-size: cover;
    box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.389); }
  .informacion div {
    padding: 13px; }
  .informacion a {
    color: #050505;
    font-weight: bold; }
  .informacion img {
    height: 150px;
    width: 330px; }

@media screen and (min-width: 0px) and (max-width: 767px) {
  header img {
    width: 70%;
    height: 100%;
    left: 10px; }
  .form-firstSection {
    margin-left: 100px; }
  .boton-buscar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
    margin-top: 10px; }
  .secondSection {
    height: 60%; }
  .destacadas img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    filter: grayscale(0);
    -webkit-filter: grayscale(0); }
  .propiedades-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    gap: 30px; }
    .propiedades-container .div_propiedades {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%; }
      .propiedades-container .div_propiedades img {
        width: 75%;
        height: 250px; }
      .propiedades-container .div_propiedades .propiedadFav {
        display: none; }
      .propiedades-container .div_propiedades .cards_propiedades {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 300px; }
  .aboutUs {
    margin: 50px 50px; }
  .carousel {
    width: 75%; }
  .informacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .map-contactos {
    width: 75%;
    margin: auto; }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .footer-firstClass {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 100px;
    gap: 20px; }
    .footer-firstClass img {
      width: 220px;
      height: 100px; }
  .footer-redes {
    display: flex;
    flex-direction: row;
    justify-content: center; }
  .footer-navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 0; }
  .contacto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2px;
    margin-left: 100px;
    margin-top: 40px; } }

@media screen and (min-width: 0px) and (max-width: 767px) and (min-width: 0px) and (max-width: 480px) {
  .firstSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .firstSection h1 {
      line-height: 35px;
      width: 150px; }
    .firstSection .form-firstSection form {
      display: none; }
  .secondSection {
    height: 200px; }
  .destacadas h2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .destacadas .img_destacadas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 25px; }
  .destacadas img {
    height: 250px;
    padding: 10px; }
  .propiedades-container {
    margin: 50px 60px 60px 90px;
    gap: 30px;
    width: 60%; }
    .propiedades-container .div_propiedades {
      width: 100%; }
  .cards_propiedades {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .aboutUs {
    font-size: 0.75em;
    line-height: 25px; }
    .aboutUs h1, .aboutUs h4 {
      font-weight: bold; }
  .carousel {
    width: 100%; }
  .info-sucursal {
    display: none; }
  .form-consultas {
    width: 80px;
    margin-right: 40px; }
  .copyright {
    font-size: 0.4em; } }

@media screen and (min-width: 0px) and (max-width: 320px) {
  .img_destacadas img {
    height: 190px;
    padding: 10px; }
  .form-consultas {
    margin-right: 45px; }
  .propiedades-container {
    gap: 30px;
    width: 40%; }
    .propiedades-container .div_propiedades {
      font-size: 0.57143em; }
      .propiedades-container .div_propiedades img {
        height: 24%; }
    .propiedades-container .cards_propiedades {
      gap: 5px; }
      .propiedades-container .cards_propiedades h4 {
        font-size: 0.8em; }
  .copyright {
    font-size: 0.4em; } }
