.firstSection {
    background-image: url(../images/img-section.jpeg);
    opacity: 0.8;
    background-size: cover;
    background-color: rgb(214, 214, 214);
    height: 180px;
    font-weight: bold;
    color: $color-black;
    .form-firstSection {
        font-size: map-get($sizes, 14);
        .boton-buscar {
            width: 120px;
            color:$color-primario;
            background-color: $color-secundario;
            border-radius: 50px;
            -webkit-border-radius: 50px;
            -moz-border-radius: 50px;
            -ms-border-radius: 50px;
            -o-border-radius: 50px;
}
    }
}

