@media screen and (min-width: 0px) and (max-width: 767px) {
    header img {
        width: 70%;
        height: 100%;
        left: 10px;
    }
    .form-firstSection {
        margin-left: 100px;
    }
    .boton-buscar {
        @include flex-direction-center (column);
        align-items: center;
        margin-left: 130px;
        margin-top: 10px;
    }
    .secondSection {
        height: 60%;
    }
    .destacadas img {
        @include flex-direction-center (column);
        align-items: center;
        filter: grayscale(0);
        -webkit-filter: grayscale(0);
    }
    .propiedades-container {
        @include flex-direction-center (column);
        align-items: center;
        width: 80%;
        gap: 30px;
    .div_propiedades {
        @include flex-direction-center (column);
        align-items: center;
        width: 80%;
        img {
            width: 75%;
            height: 250px;
        }
        .propiedadFav {
            display: none;
            }
        .cards_propiedades {
            @include flex-direction-center (column);
            align-items: center;
            height: 300px;
        }
        }
    }
    .aboutUs {
        margin: 50px 50px;
    }
    .carousel {
        width: 75%;
    }
    .informacion {
        @include flex-direction-center (column);
        align-items: center;
    }
    .map-contactos {
        width: 75%;
        margin: auto;
    }
    .footer-container {
        @include flex-direction-center (column);
        align-items: center;
    }
    .footer-firstClass{
        @include flex-direction-center (column);
        align-items: center;
        margin-right: 100px;
        gap: 20px;
        img {
            width: 220px;
            height: 100px;
        }
    }
    .footer-redes {
        @include flex-direction-center (row);
    }
    .footer-navbar {
        @include flex-direction-center (column);
        margin-top: 0;
    }
    .contacto {
        @include flex-direction-center (row);
        gap: 2px;
        margin-left: 100px;
        margin-top: 40px;
    }


@media screen and (min-width: 0px) and (max-width: 480px) {
    .firstSection {
        @include flex-direction-center (column);
        align-items: center;
        h1 {
            line-height: 35px;
            width: 150px;
        }
        .form-firstSection form {
        display:none;
        }
    } 
    .secondSection {
        height: 200px;
    }
    .destacadas {
        h2 {
            @include flex-direction-center (column);
            align-items: center;
        }
        .img_destacadas {
            @include flex-direction-center (column);
            align-items: center;
            margin-right: 25px;
        }
        img {
        height: 250px;
        padding: 10px;
        }
    }
    .propiedades-container {
        margin: 50px 60px 60px 90px;
        gap: 30px;
        width: 60%;
        .div_propiedades {
            width: 100%;
        }
    }
    .cards_propiedades {
            @include flex-direction-center (column);
            align-items: center;
        }
    .aboutUs {
        font-size: map-get($sizes, 24) / 2;
        line-height: 25px;
        h1, h4 { 
            font-weight: bold;
            }
        }
    .carousel {
        width: 100%;
    }
    .info-sucursal {
            display: none;
    }
    .form-consultas {
        width: 80px;
        margin-right: 40px;
    }
    .copyright {
        font-size: map-get($sizes, 12) / 2;
    }
}}
@media screen and (min-width: 0px) and (max-width: 320px) {
    .img_destacadas img {
        height: 190px;
        padding: 10px;
        }
        .form-consultas {
            margin-right: 45px;
        }
        .propiedades-container {
            gap: 30px;
            width: 40%;
            .div_propiedades {
                font-size: map-get($sizes, 12) / 1.4;
                img {
                    height: 24%;
                }
            }
            .cards_propiedades {
                gap: 5px;
                h4 {
                    font-size: map-get($sizes, 12);
                }
        }
    }
        .copyright {
            font-size: map-get($sizes, 12) / 2;
        }

}
