$color-primario: #ad2831;
$color-secundario: #f4f4f4;
$color-terciario: #4e4e4e;
$color-icons-hover: #050505;
$color-link-hover:#050505;
$color-whatsapp: rgb(26, 219, 26);
$color-blanco: #ffffff;


$tipografia-general: 'Montserrat', sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;