$color-primario: #ad2831;
$color-secundario: #f4f4f4;
$color-texto: #666;
$color-link-hover:#050505;
$color-whatsapp: rgb(26, 219, 26);


$tipografia-general: 'Montserrat', sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;